<div class="hero-wrap">
    <div class="hero">
        <h5>Welcome to</h5>
        <h1>Itzy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        sed do eiusmod tempor incididunt ut labore.</p>
        <!-- <div class="image-wrap"><%= image_tag "top_items.png" %></div> -->
        <div class="search-widget">
            <form class="search-widget-form">
				<input type="text" name="category_name" placeholder="This is a placeholder search form">
                <button class="button">Search Now!</button>
            </form>
        </div>
    </div>
</div>  