<div class="hero-wrap">
    <div class="hero">
        <h5>Welcome to</h5>
        <h1>Itzy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        sed do eiusmod tempor incididunt ut labore.</p>
        <!-- <div class="image-wrap"><%= image_tag "top_items.png" %></div> -->
        <div class="search-widget">
            <form class="search-widget-form">
				<input type="text" name="category_name" placeholder="This is a placeholder search form">
                <button class="button">Search Now!</button>
            </form>
        </div>
    </div>
</div>

<div class="services-wrap">
    <div class="services">
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-gifts"></i>
            </div>
            <div class="service-text">
                <h3>Buy and Sell Easily</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-shield-alt"></i>
            </div>
            <div class="service-text">
                <h3>Secure Transactions</h3>
                <p>Stripe stripe stripe stripe stripe stripe stripe
                stripe stripe stripe stripe stripe stripe stripe</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-sort-amount-up"></i>
            </div>
            <div class="service-text">
                <h3>Review & Rating System</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-gifts"></i>
            </div>
            <div class="service-text">
                <h3>Buy and Sell Easily</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>