// DEVISE REGISTRATION && SIGN IN

.devise-forms-wrap {    
    width: 100vw;
    background: image-url("profile-bg.jpg") no-repeat center;
    background-size: cover;

    .devise-title-wrap {
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
    
        .form-title {
            display: inline-block;
    
            .title-underline {
                height: 4px;
                background: linear-gradient(to right, #71def4, #ed73e1);
            }
        }
    }

    .new-devise-form {
        display: inline-block;
        background: #fff;
        width: 85%;
        margin: 60px 10vw;
        border: 2px solid #2b373a;
        border-radius: 6px;
        
        h2 {
            margin: 0 20px;
            padding: 40px 0;
            color: #2b373a;
            font-weight: 400;
            font-size: 1rem;
            text-transform: unset;
        }

        .field input {
            display: inline-block;
            box-sizing: border-box;
            width: 75%;
            height: 36px;
            margin-left: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            border: 1px solid #2b373a;
            border-radius: 4px;
            font-family: 'Work Sans', Arial, Helvetica, sans-serif; 
            font-size: 1rem;
        }
        
        .button-wrap .actions input,
        .button-wrap .actions a.button {
            display: block;
            height: 50px;
            width: 280px;
            line-height: 50px;
            border-radius: 4px;
            border-color: #2b373a;
            margin-top: 0;
            text-align: center;
            background-color: #2b373a;
            color: #fbeee4;
            font-family: 'Work Sans', Arial, Helvetica, sans-serif;
            font-size: 1.25rem;
            font-weight: 400;
        } 
    }
}

@media screen and (max-width: 1023px) {
    .devise-forms-wrap {
        height: 1350px;
        margin: auto auto;
    }

    .devise-forms-wrap#signup {
        height: 1200px
    }

    .devise-forms-wrap .new-devise-form {
        h2 {
            font-size: 1.5rem;
        }

        .field {
            flex-direction: column;
            align-content: center;

            label {
                text-align: center;
                font-size: 1.25rem;
            }

            input {
                width: 85%;           
            }
        }

        .button-wrap {
            flex-direction: column;

            .button:last-child {
                margin-top: 0;
            }
        }
    }
}