// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
    border-width: 1px;
    border-style: solid;
    border-color: #fbeee4;
}

.button {
    display: block;
    height: 50px;
    width: 280px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 4px;
    border-color: #ed73e1;
    text-align: center;
    background-color: #ed73e1;
    color: #fbeee4;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

// HERO

.hero-wrap{
    min-height: 590px;
    width: 100vw;
    background: image-url("hero-bg.jpg") no-repeat center;
    background-size: cover;

    .hero {
        padding-top: 150px;
        
        h1 {
            font-size: 2.5rem;
            padding-bottom: 20px;
        }
        
        h5 {
            margin-bottom: 20px;
        }

        p {
            width: 370px;
            line-height: 1.6em; 
            color: #fbeee4;
            font-family: "Work Sans", Arial, Helvetica, sans-serif;
            text-align: center;
            margin: 0 auto;
        }

        .search-widget {
            height: 142px;
            width: 100%;
            padding: 28px 0 0;
            margin: 0 auto;
            position: relative;
            bottom: -190px;
            background: image-url("searchbar_texture.png") no-repeat center, linear-gradient(to right, #71def4, #ed73e1);
            background-size: cover;
            border-radius: 4px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .search-widget-form {
                width: 100%;

                input {
                    box-sizing: border-box;
                    float: none;
                    overflow: visible;
                    height: 50px;
                    width: 90%;
                    margin: 0 48.5px 14px;
                    padding: 0 40px 0 20px;
                    line-height: 50px;
                    font-size: 0.8rem;
                    border-radius: 4px; 
                }

                .button {
                    background-color: #2b373a;  
                    border-color: #2b373a;
                }
            }     
        }
    }
}

@media screen and (max-width: 1920px) {
    .hero-wrap {
        background: image-url("hero-bg-desktop.jpg") no-repeat center;
    }
}

@media screen and (max-width: 1024px) {
    .hero-wrap {
        background: image-url("hero-bg-tablet.jpg") no-repeat center;
    }
}

@media screen and (min-width: 970px) {
    .hero-wrap .hero .search-widget {
        width: 970px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@media screen and (max-width: 420px) {
    .hero-wrap .hero .search-widget .search-widget-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
}

// SERVICES

.services-wrap {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 50px;

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;
        max-width: 1170px;
        width: 95%;
        margin: 0 auto;
        min-height: 500px;

        .service-item {
            display: block;
            width: 350px;
            padding-top: 15px;

            .service-icon {
                margin: 0 auto;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-color: #2b373a;
                color: #71def4;
                font-size: 3.5rem;

                .fas {
                    position: relative;
                    top: 25%;
                    height: 120px;
                    width: 120px;
                    text-align: center;
                }
            }

            .service-text {
                width: 90%;
                margin: 0 auto;
                padding-top: 15px;
                text-align: center;
                
                h3, p {
                    color: #2b373a;
                    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
                    margin: 13px 0;
                    font-size: 0.9em;
                }
            }
        }

        .service-item:nth-of-type(4) {
            padding-bottom: 60px;
        }
    }
}

@media screen and (min-width: 1100px) {
    .services-wrap .services .service-item {
        width: 50%;
    }
}

@media screen and (min-width: 1450px) {
    .services-wrap {
        max-height: 400px;
    }
    
    .services-wrap .services .service-item {
        width: 25%;
    }
}
// PROMOTIONS

.promo-wrap {
    display: flex;
    flex-direction: column;
    
    .promo-banner {
        min-height: 310px;
        width: 100%;
        padding-top: 50px;

        .fas {
            position: relative;
            width: 100%;
            font-size: 4rem;
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            margin-bottom: 35px;
            font-size: 2.75rem;
        }

        h5 {
            margin-bottom: 5px;
            font-size: 1rem;
        }
    }

    .promo-banner.primary {
        background: #2b373a image-url("promo1_texture.png");
        
        .fas {
            color: #ed73e1;
        }

        .button {
            background-color: #ed73e1;
        }
    }

    .promo-banner.secondary {
        background: #71def4 image-url("promo2_texture.png");

        .fas {
            color: #fbeee4;
        }

        .button {
            background-color: #2b373a;
        }
    }
}

@media screen and (min-width: 1024px) {
    .promo-wrap {
        flex-direction: row;

        .promo-banner {
            width: 50%;
        }
    }
}

// PRODUCTS

.product-wrap {
    width: 100%;
    padding: 60px 0 30px;
    background-color: #f5f5f5;

    .product-header {
        position: relative;
        height: 66px;
        width: 90%;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        
        h4 {
            line-height: 66px;
            color: #2b373a;
            text-align: left;
            padding-left: 22px;
        }
    }

    .product-header:before {
        float: left;
        background-color: #ed73e1;
        display: block;
        content: '';
        height: 66px;
        width: 6px;
        position: relative;
    }

    .product-item-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .product-item {
            display: block;
            margin: 20px 20px 0;
            width: 300px;
            height: 100%;
            background-color: #ffffff;
            border: 1px solid #ebebeb;

            .product-preview {
                margin: 5px 5px;

                img {
                    min-height: 200px;
                    width: 100%;
                }
            }

            .product-info {
                margin-bottom: 8px;
                padding-left: 7.5px;
                font-family: 'Work Sans', Arial, Helvetica, sans-serif;

                .product-info-header {
                    padding-top: 5px;
                    color: #2b373a;
                    font-weight: 400;
                    line-height: 1em;
                    text-align: left;
                }

                .product-description {
                    margin-bottom: 10px;
                    color: #888;
                    font-size: 0.75em;
                    line-height: 18px;
                }

                .product-category {
                    color: #ed73e1;
                    font-size: 0.75em;
                    line-height: 16px;
                    text-align: left;
                }

                .price {
                    position: relative;
                    float: right;
                    bottom: 17px;
                    padding-right: 7.5px;
                    font-size: 1em;
                    
                    span {
                        font-size: 0.8em;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }

        .product-item:last-child {
            margin-bottom: 20px;
        }

        .line-separator {
            width: 85%;
            background-color: #ebebeb;
            margin-left: auto;
            height: 1px;
            border: none;
        }

        .product-user-info {
            padding-left: 7.5px;
            margin: 12.5px auto;
            
            .product-user {
                color: #2b373a;
            }
            
            .product-user-rating {
                position: relative;
                float:right;
                padding-right: 7.5px;
                bottom: 18px;
                font-size: 0.8rem;
            }
        }

        #item-4, #item-5, #item-6,
        #item-7, #item-8, #item-9,
        #item-10 {
            display: none;
        }
    }
}

@media screen and (min-width: 750px) {
    .product-wrap .product-item-wrap {
        #item-4, #item-5, #item-6 {
            display: block;
        }
    }
}

@media screen and (min-width: 1369px) {
    .product-wrap .product-item-wrap {
        #item-7, #item-8 {
            display: block;
        }
    }
}

@media screen and (min-width: 1710px) {
    .product-wrap .product-item-wrap {
        #item-9, #item-10 {
            display: block;
        }
    }
}
