<div class="new-product-wrap">

    <div class="product-title-wrap">
        <div class="product-title">
            <h1>NEW PRODUCT</h1>
        </div>
        <div class="title-underline"></div>
    </div>

    <%= render 'form', product: @product %>

    <%= link_to 'Back', products_path %>
</div>
