<div class="show-wrap">

  <div class="show-panel">
    <div class="field">
      <label>Store Name</label>
      <div class="textfield"><%= @store.store_name %></div>
    </div>

    <hr class="line-separator">

    <div class="field">
      <label>Owned By</label>
      <div class="textfield"><%= @user = User.find_by(id: @store.user_id); @user.username %></div>
    </div>

    <div class="button-wrap">
      <% if current_user.id == @store.user_id %>
        <%= link_to 'Edit', edit_store_path(user_id: Store.find_by(user_id: current_user.id)), class: "button" %>
        <%= link_to 'Delete Store', store_path(id: current_user.id), method: :delete, class: "button red" %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <h1>PRODUCTS GO HERE</h1>
</div>
