<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="edit-wrap">

    <div class="edit-title">
        <h1><%= @user.username %>'s Profile</h1>
    </div>

    <div class="edit-form">
        <%= render 'form', user: @user %>
        <div class="buttons-wrap">
            <%= link_to 'Show', @user %> |
            <%= link_to 'Back', users_path %>
        </div>
    </div>
</div>
