<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="edit-wrap">

    <div class="edit-title-wrap">
        <div class="edit-title">
            <h1><%= @user.username %>'s Profile</h1>
            <div class="title-underline"></div>
        </div>
    </div>

    <div class="edit-form">
        <h2>
            Update your profile details by editing any of the fields
            below and clicking 'Update User'
        </h2>
        <%= render 'form', user: @user %>
    </div>
</div>
