<div class="admin-panel-wrap">
  <div class="admin-panel">
    <h1>Store Admin Panel</h1>

    <table>
      <thead>
        <tr>
          <th>Store ID</th>
          <th>Store Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @stores.each do |store| %>
          <tr>
            <td><%= store.id %></td>
            <td><%= store.store_name %></td>
            <td><%= link_to 'Show Store', store, class: "button" %></td>
            <td><%= link_to 'Remove Store', store, method: :delete, data: { confirm: 'Are you sure?' }, class: "button red" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
