<div class="new-store-wrap">    
    
    <div class="store-title-wrap">
        <div class="store-title">
            <h1>CREATE YOUR STORE!</h1>
            <div class="title-underline"></div>
        </div>
    </div>

    <div class="new-store-form">
        <h2>Enter your new store's name!</h2>
        <%= render 'form', store: @store %>
    </div>

</div>

