// Setting defaults and over-riding user agent style-sheets

html, body {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

div, nav, footer, p {
    display: block;
}

// NAV ------------------------------------

// MOBILE

.nav-wrapper {
    min-height: 100px;
    background-color: #000000;
}

header {
    display: flex;
    min-height: 100px;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fbeee4;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .nav-left,
    .nav-right {
        order: 4;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .nav-link-left,
    .nav-link-right {
        display: none;
    }

    .nav-link-left.open,
    .nav-link-right.open {
        display: block;
        float: none;
        text-align: left;
    }

    .nav-toggle-left,
    .nav-toggle-right {
        display: flex;
        width: 90px;
        font-size: 2rem;
        font-weight: 200;
        cursor: pointer;

        .far,
        .fas {
            display: flex;
            width: 100%;
            align-self: center;
            justify-content: center;
        }
    }

    .nav-toggle-left {
        background-color: #35d0f0;
    }

    .nav-toggle-right {
        background-color: #ed73e1;
        margin-left: auto;
    }

    .logo {
        display: flex;
        margin-left: auto;

        p {
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 2rem; 
        align-self: center; 
        }
    }
}

// TABLET AND LARGER

@media only screen and (min-device-width: 768px) {
    header {
        flex-direction: row;

        .nav-left,
        .nav-right {
            flex-direction: row;
        }

        .nav-left {
            background-color: #35d0f0;
        }
    
        .nav-right {
            margin-left: auto;
            background-color: #ed73e1;
        }

        .nav-toggle-left,
        .nav-toggle-right {
            display: none;

            i {
                display: none;
            }
        }

        .nav-link-left,
        .nav-link-right {
            display: block;
        }
    }
}



