
// Setting defaults and over-riding user agent style-sheets

html, body {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

div, nav, footer, p {
    display: block;
}

h1, h2, h3, h4, h5, 
h6 {
  line-height: 1em; 
  margin: 0;
  padding: 0;
  color: #fbeee4;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

// NAV ------------------------------------

// MOBILE

.nav-wrapper {
    min-height: 100px;
    background-color: #2B373A;
}

header {
    display: flex;
    min-height: 100px;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fbeee4;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .nav-left,
    .nav-right {
        order: 4;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    .nav-link-left,
    .nav-link-right {
        display: none;
    }

    .nav-link-left.open,
    .nav-link-right.open {
        width: 100vw;
        border-bottom: 2px solid #fbeee4;
        font-size: 1.5rem;
        padding: 1rem 0;
        display: block;
        text-align: center;
    }

    .nav-link-left.open:nth-of-type(1),
    .nav-link-right.open:nth-of-type(1) {
        border-top: 2px solid #fbeee4;
    }


    .nav-toggle-left,
    .nav-toggle-right {
        display: flex;
        width: 90px;
        font-size: 2rem;
        font-weight: 200;
        cursor: pointer;

        .far,
        .fas {
            display: flex;
            width: 100%;
            align-self: center;
            justify-content: center;
        }
    }

    .nav-toggle-left {
        background-color: #35d0f0;
    }

    .nav-toggle-right {
        background-color: #ed73e1;
        margin-left: auto;
    }

    .logo {
        display: flex;
        margin-left: auto;

        p {
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 3rem; 
        letter-spacing: 5px;
        line-height: 1rem;
        align-self: center; 
        }
    }
}

// TABLET AND LARGER

@media only screen and (min-device-width: 768px) {
    header {
        flex-direction: row;

        .nav-left,
        .nav-right {
            flex-direction: row;
        }

        .nav-left {
            background-color: #35d0f0;
        }
    
        .nav-right {
            margin-left: auto;
            background-color: #ed73e1;
        }

        .nav-toggle-left,
        .nav-toggle-right {
            display: none;

            i {
                display: none;
            }
        }

        .nav-link-left,
        .nav-link-right {
            display: block;
        }
    }
}



