// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
    border-width: 1px;
    border-style: solid;
    border-color: #fbeee4;
}

.button {
    display: block;
    height: 50px;
    width: 280px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 4px;
    border-color: #ed73e1;
    text-align: center;
    background-color: #ed73e1;
    color: #fbeee4;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

// HERO

a {
    .hero-wrap{
        min-height: 544px;
        width: 100vw;
        background: image-url("hero-bg.jpg") no-repeat center;
        background-size: cover;
    
        .hero {
            padding-top: 125px;
            
            h1 {
                font-size: 2.5rem;
                padding-bottom: 20px;
            }
            
            h5 {
                margin-bottom: 20px;
            }

            p {
                width: 370px;
                line-height: 1.6em; 
                color: #fbeee4;
                font-family: "Work Sans", Arial, Helvetica, sans-serif;
                text-align: center;
                margin: 0 auto;
            }

            .search-widget {
                height: 142px;
                width: 100%;
                padding: 28px 0 0;
                margin-left: 0;
                position: relative;
                left: 0;
                bottom: -115px;
                background: #2b373a image-url("promo1_texture.png");
                background-size: cover;
                border-radius: 4px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;

                .search-widget-form {
                    overflow: hidden;
                    width: 90%;

                    input {
                        box-sizing: border-box;
                        float: none;
                        height: 50px;
                        width: 100%;
                        margin-bottom: 14px;
                        padding: 0 40px 0 20px;
                        line-height: 50px;
                        font-size: 0.8rem;
                        border-radius: 4px; 
                    }
                }     
            }
        }
    }
}

@media screen and (max-width: 1260px) {
    a .hero-wrap .search-widget .search-widget-form {
        max-width: 1170px;
        width: 95%;
        margin: 0 auto;
    }
}

// SERVICES

.services-wrap {
    background-color: #ffffff;
    padding-top: 20px;

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 60px;
        max-width: 1170px;
        width: 95%;
        margin: 0 auto;
        min-height: 500px;

        .service-item {
            display: block;
            width: 350px;

            .service-icon {
                margin: 0 auto;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-color: #2b373a;
                color: #71def4;
                font-size: 3.5rem;

                .fas {
                    position: relative;
                    top: 25%;
                    height: 120px;
                    width: 120px;
                    text-align: center;
                }
            }

            .service-text {
                width: 90%;
                margin: 0 auto;
                padding-top: 15px;
                text-align: center;
                
                h3, p {
                    color: #2b373a;
                    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
                }
            }
        }
    }
}

// PROMOTIONS

.promo-wrap {
    display: flex;
    flex-direction: column;
    
    .promo-banner {
        min-height: 310px;
        width: 100%;
        padding-top: 50px;

        .fas {
            position: relative;
            width: 100%;
            font-size: 4rem;
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            margin-bottom: 35px;
            font-size: 3rem;
        }

        h5 {
            margin-bottom: 5px;
            font-size: 1rem;
        }
    }

    .promo-banner.primary {
        background: #2b373a image-url("promo1_texture.png");
        
        .fas {
            color: #ed73e1;
        }

        .button {
            background-color: #ed73e1;
        }
    }

    .promo-banner.secondary {
        background: #71def4 image-url("promo2_texture.png");

        .fas {
            color: #fbeee4;
        }

        .button {
            background-color: #2b373a;
        }
    }
}