// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COMMON ELEMENTS

.user-title-wrap {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;

    .user-title {
        display: inline-block;

        .title-underline {
            height: 4px;
            background: linear-gradient(to right, #71def4, #ed73e1);
        }
    }
}

.button-wrap {
    display: flex;
    justify-content: space-between;

    .button {
        display: block;
        height: 50px;
        width: 280px;
        margin: 30px auto 60px;
        border-radius: 4px;
        text-align: center;
        background-color: #2b373a;
        color: #fbeee4;
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
    }

    .button.red {
        background-color: red;
    }

    .button.green {
        background-color: green;
    }
}

.line-separator {
    width: 85%;
    background-color: #2b373a;
    margin-left: auto;
    height: 1px;
    border: none;
}

.field {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;

    label {
        align-self: center;
        width: 200px;
        font-weight: 600;
        color: #2b373a;
        padding-bottom: 5px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        text-align: right;
    }

    .textfield {
            display: inline-block;
            box-sizing: border-box;
            width: 75%;
            height: 25px;
            margin-left: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            font-family: 'Work Sans', Arial, Helvetica, sans-serif; 
            font-weight: 300;
            font-size: 1.25rem;
    }
}

// EDIT

.edit-wrap {
    display: inline-block;
    width: 100vw;
    background: image-url("profile-bg.jpg") no-repeat center;
    background-size: cover;

    .edit-form {
        display: inline-block;
        background: #fff;
        width: 85%;
        margin: 60px 10vw;
        border: 2px solid #2b373a;
        border-radius: 6px;
        
        h2 {
            margin: 0 20px;
            padding: 40px 0;
            color: #2b373a;
            font-weight: 400;
            font-size: 1rem;
            text-transform: unset;
        }

        .field input {
            display: inline-block;
            box-sizing: border-box;
            width: 75%;
            height: 36px;
            margin-left: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            border: 1px solid #2b373a;
            border-radius: 4px;
            font-family: 'Work Sans', Arial, Helvetica, sans-serif; 
            font-size: 1rem;
        } 

        .button-wrap {
            display: flex;
            justify-content: space-between;
        }
        
        .button-wrap .actions input {
            display: block;
            height: 50px;
            width: 280px;
            line-height: 50px;
            border-radius: 4px;
            border-color: #2b373a;
            text-align: center;
            background-color: #2b373a;
            color: #fbeee4;
            font-family: 'Work Sans', Arial, Helvetica, sans-serif;
            font-size: 1.25rem;
            font-weight: 400;
        }
        
    }
}

@media screen and (max-width: 767px) {
    .edit-wrap {
        height: 900px;
        margin: auto auto;
    }

    .edit-wrap .edit-form {
        h2 {
            font-size: 1.5rem;
        }

        .field {
            flex-direction: column;
            align-content: center;

            label {
                text-align: center;
                font-size: 1.25rem;
            }

            input {
                width: 85%;           
            }
        }

        .button-wrap {
            flex-direction: column;

            .button:last-child {
                margin-top: 0;
            }
        }
    }
}

// SHOW (USER SPECIFIC PROFILE i.e. NOT ADMIN ALL USER LIST)

.show-wrap{
    display: inline-block;
    width: 100vw;
    background: image-url("profile-bg.jpg") no-repeat center;
    background-size: cover;

    .show-panel {
        display: inline-block;
        background: #fff;
        width: 85%;
        margin: 60px 10vw;
        border: 2px solid #2b373a;
        border-radius: 6px;

        #notice {
            text-align: center;
            color: #2b373a;
            margin: 0 20px;
            padding: 40px 0;
            color: #2b373a;
            font-weight: 400;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .show-wrap {
        height: 900px;
        margin: auto auto;
    }

    .show-wrap .show-panel {
        h2 {
            font-size: 1.5rem;
        }

        .field {
            flex-direction: column;
            align-content: center;
            text-align: center;
            margin: 0 auto;

            label {
                text-align: center;
                font-size: 1.25rem;
            }

            .text-field {
                width: 100%;
                padding-left: 0;
            }
        }

        .button-wrap {
            flex-direction: column;

            .button:last-child {
                margin-top: 0;
            }
        }
    }
}
