// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-wrap {
    background: image-url("profile-bg.jpg") no-repeat center;
    background-size: cover;
    height: 62vh;

    .edit-title {
        padding: 30px 0;  
    }

    .edit-form {
        background: #2b373a image-url("promo1_texture.png");
        height: 50vh;
        width: 85%;
        margin: 0 auto;
        border: 1px solid #2b373a;
        border-radius: 6px;
        
        .field {
            width: 50%;
            margin: 0 auto;
            padding-top: 20px;

            label {
                display: inline-block;
                font-weight: 600;
                color: #fbeee4;
                padding-bottom: 5px;
                margin-bottom: 20px;
                font-size: 1.5rem;
                text-align: left;
            }

            input {
                height: 20px;
                border: 1px solid #ebebeb;
                border-radius: 4px;
                margin-bottom: 20px;
            }
        }  
        
        .line-separator {
            width: 85%;
            background-color: #ebebeb;
            margin-left: auto;
            height: 1px;
            border: none;
        }

        .buttons-wrap {
            width: 30%;
            
        }
    }
}